#section1{
    border: 3px solid black;
    width: 100%;
    height: 500px;

}
header>h1{
    text-align: center;
}
img{
   float: left;
    width: 20%; 
    margin-left: 100px;

}
p{
    width: 70%;
    float: right;

}








/*.box{
    display: flex;
}*/
